<!-- <div 
  [class.active-category]="activeCategory === ''"
  (click)="filterByCategory('')">Kõik kategooriad</div>
<div 
  *ngFor="let category of categories" 
  (click)="filterByCategory(category)"
  [class.active-category]="category === activeCategory">
    {{ category }}
</div> -->

<div 
  [ngClass]="{'active-category': activeCategory === ''}"
  (click)="filterByCategory('')">Kõik kategooriad</div>
<div 
  *ngFor="let category of categories" 
  (click)="filterByCategory(category)"
  [ngClass]="{'active-category': activeCategory === activeCategory}">
    {{ category }}
</div>

<button (click)="sortAZ()">Sorteeri A-Z</button>
<button (click)="sortZA()">Sorteeri Z-A</button>
<button (click)="sortPriceAsc()">Sorteeri hind kasvavalt</button>
<button (click)="sortPriceDesc()">Sorteeri hind kahanevalt</button>

<div *ngFor="let product of products">
  <div>{{ product.id }}</div>
  <div>{{ product.name }}</div>
  <img src="{{ product.image }}" alt="">
  <div>{{ product.category }}</div>
  <div>{{ product.price }} €</div>
  <div>{{ product.description }}</div>
  <div>{{ product.active }}</div>
  <button (click)="addToCart(product)">{{"home.add-cart-button" | translate}}</button>
</div>

<lib-toastify-toast-container 
  [position]="'bottom-right'"
  [autoClose]="3000"
></lib-toastify-toast-container>