<!-- <div *ngFor="let product of products" 
  [ngClass]="{'active': product.active === true, 'inactive': product.active === false}"> -->
  <div *ngFor="let product of products" 
  [class.active]="product.active === true"
  [class.inactive]="product.active === false">
  <div>{{ product.id }}</div>
  <div>{{ product.name }}</div>
  <img src="{{ product.image }}" alt="">
  <div>{{ product.category }}</div>
  <div>{{ product.price }} €</div>
  <div>{{ product.description }}</div>
  <div>{{ product.active }}</div>
  <button routerLink="/admin/muuda-toode/{{product.id}}">Muuda</button>
  <button (click)="deleteProduct(product)">Kustuta</button>
</div>


<lib-toastify-toast-container 
  [position]="'bottom-right'"
  [autoClose]="3000"
></lib-toastify-toast-container>