<input (change)="otsi()" placeholder="Otsi" [(ngModel)]="otsitavNimi" type="text">

<button (click)="filtreeri()">Filtreeri</button>
<button (click)="sorteeri()">Sorteeri</button>

<br><br>

<button 
  [class.bold]="viimatiklikitudTelNumAlgus === algus"
  *ngFor="let algus of telefoniNumbriAlgus" 
  (click)="filtreeriTelAlgus(algus)">
  {{ algus }}
</button>

<br><br>

<div *ngFor="let user of users">
  <div>{{user.id}}</div>
  <div>{{user.name}}</div>
  <div>{{user.username}}</div>
  <div>{{user.email}}</div>
  <div>{{user.address.street}}</div>
  <div>{{user.address.suite}}</div>
  <div>{{user.address.city}}</div>
  <div>{{user.address.zipcode}}</div>
  <div>{{user.address.geo.lat}}</div>
  <div>{{user.address.geo.lng}}</div>
  <div>{{user.phone}}</div>
  <div>{{user.website}}</div>
  <div>{{user.company.name}}</div>
  <div>{{user.company.catchPhrase}}</div>
  <div>{{user.company.bs}}</div>
  <button>x</button>
  <button>index</button>
  <button routerLink="/user/{{user.id}}">Detailselt</button>
</div>