<button class="nupp">NUPP</button>

<div>1443432342432</div>

<button routerLink="/">Avalehele</button>
<button routerLink="/ostukorv">Ostukorvi</button>
<button routerLink="/poed">Poed</button>
<button routerLink="/lisa">Lisa toode</button>
<button routerLink="/halda">Halda tooteid</button>
<button routerLink="/meist">Meist</button>


<div>asda</div>

<img class="pilt" src="https://cdn.motor1.com/images/mgl/PRXz4/s1/nobe-100-three-wheeled-electric-vehicle.jpg" alt="">

<router-outlet></router-outlet>
